@import url(https://fonts.googleapis.com/css?family=Muli:400,600,800);@charset "UTF-8";

/** Fontes **/

@font-face {
  font-family: 'Street Corner';
  src: url("/fonts/StreetCornerBold.woff2") format("woff2"), url("/fonts/StreetCornerBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Palatino';
  src: url("/fonts/Palatino-Italic.woff2") format("woff2"), url("/fonts/Palatino-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

/** Cores e variaveis **/

/* Estilos Gerais */

h1,
p,
span,
a {
  letter-spacing: 0.2px;
}

h1.sem-respiro,
p.sem-respiro,
span.sem-respiro,
a.sem-respiro {
  letter-spacing: 0px;
}

h1.subtitulo,
p.subtitulo,
span.subtitulo,
a.subtitulo {
  font-size: 14px;
}

h1.citacao,
p.citacao,
span.citacao,
a.citacao {
  font-family: 'Palatino', sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

h2,
h3 {
  letter-spacing: 0.25px;
}

h2.sem-respiro,
h3.sem-respiro {
  letter-spacing: 0px;
}

h2.subtitulo,
h3.subtitulo {
  font-size: 14px;
}

p {
  font-size: 1.1rem;
}

h3 {
  font-size: 1.45rem;
}

/** Breakpoints para a responsividade  - Mobile First (usar breakpoints para exções do desktop) **/

/** Fontes **/

@font-face {
  font-family: 'Street Corner';
  src: url("/fonts/StreetCornerBold.woff2") format("woff2"), url("/fonts/StreetCornerBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Palatino';
  src: url("/fonts/Palatino-Italic.woff2") format("woff2"), url("/fonts/Palatino-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

/** Cores e variaveis **/

/* Estilos Gerais */

h1,
p,
span,
a {
  letter-spacing: 0.2px;
}

h1.sem-respiro,
p.sem-respiro,
span.sem-respiro,
a.sem-respiro {
  letter-spacing: 0px;
}

h1.subtitulo,
p.subtitulo,
span.subtitulo,
a.subtitulo {
  font-size: 14px;
}

h1.citacao,
p.citacao,
span.citacao,
a.citacao {
  font-family: 'Palatino', sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

h2,
h3 {
  letter-spacing: 0.25px;
}

h2.sem-respiro,
h3.sem-respiro {
  letter-spacing: 0px;
}

h2.subtitulo,
h3.subtitulo {
  font-size: 14px;
}

p {
  font-size: 1.1rem;
}

h3 {
  font-size: 1.45rem;
}

/** Breakpoints para a responsividade  - Mobile First (usar breakpoints para exções do desktop) **/

/** Estilos do Menu principal **/

nav#menu-principal .navbar-nav {
  width: 100%;
  text-align: center;
}

@media (min-width: 1200px) {
  nav#menu-principal .navbar-nav {
    width: 80%;
  }
}

nav#menu-principal .navbar-toggler {
  height: 42px;
  border: 1px solid #fff !important;
  color: #fff !important;
}

nav#menu-principal a {
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.55);
  font-size: 0.9rem;
  height: 25px;
  padding: 0;
  margin: 2rem auto auto auto;
  max-width: 100px;
  color: #fff;
  font-style: italic;
  font-family: 'Muli', sans-serif;
}

nav#menu-principal a:hover {
  border-bottom: 2px solid #fff5ad;
  text-decoration: none;
}

nav#menu-principal a.active {
  border-bottom: 2px solid #fff5ad;
  text-decoration: none;
}

nav#menu-principal a.active:hover {
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

nav#menu-principal .container-links {
  width: 60%;
}

footer {
  font-family: 'Muli', sans-serif;
  font-style: italic;
  color: #fff;
  border-top: 20px solid #fff5ad;
  background-color: #9e97cb;
  padding: 2rem 0;
}

footer a {
  font-size: 0.8rem;
  color: #fff;
}

footer a.link-footer {
  width: 100px;
}

/** HEADER / Banner **/

#header-blog {
  background-image: url(https://res.cloudinary.com/tesseract/image/upload/v1535248065/jussara/blog_header_bg.png);
  background-size: cover;
  height: 65vh;
  max-width: 100vw;
  background-position-x: 80%;
}

#header-blog .container {
  padding: 0 5rem;
}

#header-blog .container-texto {
  font-family: 'Street Corner', sans-serif;
  text-align: left;
  margin-top: 5rem;
  color: #fff;
}

#header-blog .container-texto h2 {
  font-size: 2.5rem;
}

@media (min-width: 1200px) {
  #header-blog .container-texto h2 {
    font-size: 3.5rem;
  }
}

#lista-posts {
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-bottom: 2rem;
}

@media (min-width: 992px) {
  #lista-posts {
    text-align: inherit;
  }
}

@media (min-width: 1200px) {
  #lista-posts {
    padding: 0rem 5rem 3rem 5rem;
  }
}

#lista-posts .detalhe-top {
  color: rgba(0, 0, 0, 0.2);
}

#lista-posts h2,
#lista-posts h3 {
  font-family: 'Street Corner', sans-serif;
  color: #000;
}

#lista-posts span,
#lista-posts p,
#lista-posts li {
  color: rgba(0, 0, 0, 0.5);
  text-align: justify;
}

#lista-posts .container-cards {
  padding: 3rem 5rem;
}

#lista-posts .post-card {
  width: 48%;
  margin: 1%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

#lista-posts .post-card img {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

#lista-posts .post-card .card-header,
#lista-posts .post-card .card-footer {
  background-color: white;
  border: none;
}

#lista-posts .post-card .card-header h3,
#lista-posts .post-card .card-footer h3 {
  font-size: 1.35rem;
}

#lista-posts .post-card .card-header .data,
#lista-posts .post-card .card-footer .data {
  font-size: 0.85rem;
  position: absolute;
  right: 10px;
}

#lista-posts .post-card i {
  color: rgba(0, 0, 0, 0.5);
}

