/* Limit image width to avoid overflow the container */

img {
  max-width: 100%;
  /* This rule is very important, please do not ignore this! */
}

#canvas {
  height: 600px;
  width: 100%;
  /* 600px; */
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;
}

/* Custom styles for this template */

body {
  overflow-y: scroll;
}

#result {
  margin-top: 5rem;
}

.main-sidebar {
  -webkit-transform: none;
          transform: none;
}

.main-sidebar.escondido {
  -webkit-transform: translate(-230px, 0);
          transform: translate(-230px, 0);
}

div.container-admin-btn-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  padding: 10px;
}

div.container-admin-btn-sidebar .menu-admin-toggler {
  background: transparent;
  border: 2px;
  color: #b8c7ce;
}

