
/** Fontes **/

@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800');

@font-face {
    font-family: 'Street Corner';
    src: url('/fonts/StreetCornerBold.woff2') format('woff2'),
        url('/fonts/StreetCornerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Palatino';
    src: url('/fonts/Palatino-Italic.woff2') format('woff2'),
        url('/fonts/Palatino-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

/** Cores e variaveis **/

$branco: #fff;
$preto: #000;
$cinza: rgba(0,0,0,0.5);
$cinza-claro: rgba(0,0,0,0.2);
$bg-atuacao: #f0f0f0;
$cor-roxo-atuacao: #3f00e1;
$cor-borda-link: #fff5ad;


/* Estilos Gerais */

h1, p, span, a{
    letter-spacing:0.2px;
    &.sem-respiro { letter-spacing:0px; }
    &.subtitulo { font-size: 14px; }
    &.citacao { font-family: 'Palatino', sans-serif; color: $cinza; }
}
h2,h3 {
    letter-spacing:0.25px;
    &.sem-respiro { letter-spacing:0px; }
    &.subtitulo { font-size: 14px; }
}
p { font-size:1.1rem; }
h3 { font-size:1.45rem; }




/** Breakpoints para a responsividade  - Mobile First (usar breakpoints para exções do desktop) **/

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

