
@import 'geral';

/** Estilos do Menu principal **/

nav#menu-principal {

    .navbar-nav {
        width: 100%;
        text-align: center;
        a {
            &.active, &:hover {
            }
        }
        @include breakpoint(lg) {
            width:80%;
        }
    }

    .navbar-toggler {
        height: 42px;
        border: 1px solid $branco!important;
        color: $branco!important;
    }

    a {
        text-shadow: 1px 2px 5px rgba(0,0,0,0.55);
        font-size: 0.9rem;
        height:25px;
        padding:0;
        margin: 2rem auto auto auto;
        max-width: 100px;
        color: $branco;
        font-style: italic;
        font-family: 'Muli', sans-serif;
        &:hover {
            border-bottom: 2px solid $cor-borda-link;
            text-decoration:none;
        }
        &.active {
            border-bottom: 2px solid $cor-borda-link;
            text-decoration:none;
            &:hover {
                border-bottom: 2px solid $branco;
                text-decoration:none;
            }
        }

    }
    .container-links {
        width:60%;
    }
}

