@import 'geral';

@import 'menu-principal';

@import 'footer';

$cor-cinza-bg:#f2f2f4;

/** HEADER / Banner **/

#header-blog {
    background-image: url(https://res.cloudinary.com/tesseract/image/upload/v1535248065/jussara/blog_header_bg.png);
    background-size: cover;
    height:65vh;
    max-width:100vw;
    background-position-x: 80%;

    .container {
        padding: 0 5rem;
    }

    .container-texto {
        font-family: 'Street Corner', sans-serif;
        text-align: left;
        margin-top:5rem;
        color: $branco;

        h2 {
            font-size: 2.5rem;
            @include breakpoint(lg) {
                font-size: 3.5rem;
            }
        }
    }

}

#lista-posts {
    font-family: 'Muli', sans-serif;
    text-align:center;
    padding-bottom: 2rem;
    @include breakpoint(md) {
        text-align:inherit;
    }
    
    @include breakpoint(lg) {
        padding: 0rem 5rem 3rem 5rem;
    }

    .detalhe-top {
        color:$cinza-claro;
    }

    h2, h3 {
        font-family: 'Street Corner', sans-serif;
        color: $preto;
    }
    span, p, li {
        color:$cinza;
        text-align: justify;
    }

    .container-cards {
        padding:3rem 5rem;
    }

    .post-card {
        width:48%;
        margin:1%;
        border: 1px solid $cinza-claro;
        border-radius:4px;
        overflow:hidden;
        box-shadow: 1px 2px 3px $cinza-claro;

        img {
            height: 150px;
            object-fit:cover;
        }

        .card-header, .card-footer, .card-body {
            h3 {
                font-size: 1.35rem;
            }
            p { text-indent: 2rem; }
            a {
                color:$cinza; 
                &.titulo {
                    color:inherit;
                }
            }
            background-color:white;
            border: none;
            .data {
                font-size:0.85rem;
                position:absolute;
                right: 10px;
            }
        }

        i {
            color: $cinza;
        }
    }
}


