@import url('https://fonts.googleapis.com/css?family=Muli:400,600');

@font-face {
    font-family: 'Street Corner';
    src: url('/fonts/StreetCornerBold.woff2') format('woff2'),
        url('/fonts/StreetCornerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Palatino';
    src: url('/fonts/Palatino-Italic.woff2') format('woff2'),
        url('/fonts/Palatino-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

/** Variaveis **/

$branco: #fff;
$preto: #000;
$cinza: rgba(0,0,0,0.6);
$cinza-claro: rgba(0,0,0,0.2);
$bg-atuacao: #f0f0f0;
$cor-roxo-atuacao: #3f00e1;
$cor-borda-link: #fff5ad;


/** Default Styles **/

h1, p, span, a{
    letter-spacing:0.5px;
    &.sem-respiro { letter-spacing:0px; }
    &.subtitulo { font-size: 14px; }
    &.citacao { font-family: 'Palatino', sans-serif; color: $cinza; }
}
h2,h3 {
    letter-spacing:0.25px;
    &.sem-respiro { letter-spacing:0px; }
    &.subtitulo { font-size: 14px; }
}
p { font-size:1.05rem; }
h3 { font-size:1.45rem; }

/** HEADER / Banner **/

#header-home {
    background-image: url(https://res.cloudinary.com/vivala/image/upload/v1534369785/Jussara-Leopaci/home_header_bg.png);
    background-size: cover;
    height:100vh;
    max-width:100vw;

    .container {
        padding: 0 5rem;
    }


    nav {
        a {
            height:26px;
            margin-top: 2rem;
            color: $branco;
            font-style: italic;
            font-family: 'Muli', sans-serif;
            &:hover {
                border-bottom: 2px solid $cor-borda-link;
                text-decoration:none;
            }
        }
        .container-links {
            width:60%;
        }
        
    }

    .container-texto {
        font-family: 'Street Corner', sans-serif;
        text-align: right;
        margin-top:5rem;
        float:right;
        color: $branco;

        h2 {
            font-size: 3.5rem;
        }
        p {
            font-family: 'Muli', sans-serif;
        }
    }

}

#apresentacao, #atuacao, #contato {
    padding: 0rem 5rem 3rem 5rem;
    font-family: 'Street Corner', sans-serif;

    .detalhe-top {
        color:$cinza-claro;
    }

    h2 {
        color: $preto;
    }
    span, p, li {
        color:$cinza;
    }
}

#atuacao {

    background-color: $bg-atuacao;
    min-height: 120vh;

    ul.nav {
        width:85%;

        li.nav-item {
            width: 24%;

            a {
                padding: 0.75rem;
                font-size: 0.8rem;
                border-radius: 0rem;
                color: $cinza;
                border-bottom: 2px solid #cecece;
                background-color: #e7e7e7;

                &:hover {
                    color: $cor-roxo-atuacao;
                    background-color:#eee7f1;
                    border-bottom: 2px solid #d2c4ed;
                }

                &.active {    
                    color: $cor-roxo-atuacao;
                    border-bottom: 2px solid #3f00e1;
                    background-color: #e1d3f2;
                }
            }
        }
    }

    .tab-content {
        width:85%;

        p.citacao {
            font-size: 1.45rem;
            line-height: 1.7rem;
        }

    }

}

#contato {
    border-top: 20px solid #e2e2f1;
    min-height: 50vh;

    label {
        position: absolute;
        font-size: 12px;
        margin-top: -10px;
        margin-left: 20px;
        padding-left: 2px;
        background-color: white;
        min-width: 70px;
        padding-right: 10px;
    }

    .form-control {
        padding: 0.475rem .75rem;
        border: 2px solid #ced4da;
    }

    .btn.btn-custom {
        padding: 0.75rem 2.5rem;
        font-size: 0.8rem;
        border-radius: 0rem;
        color: $cor-roxo-atuacao;
        background-color:#eee7f1;

        &:hover {
            background-color: #e1d3f2;
        }

    }
}

footer {
    font-family: 'Muli', sans-serif;
    font-style: italic;
    color: $branco;
    border-top: 20px solid #fff5ad;
    background-color: #9e97cb;
    padding: 2rem;

    a {
        font-size: 0.8rem;
        color: $branco;
    }

}

