@import url('https://fonts.googleapis.com/css?family=Muli');

@font-face {
    font-family: 'Street Corner';
    src: url('/fonts/StreetCornerBold.woff2') format('woff2'),
        url('/fonts/StreetCornerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Palatino';
    src: url('/fonts/Palatino-Italic.woff2') format('woff2'),
        url('/fonts/Palatino-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}



