@import 'geral';

@import 'menu-principal';

@import 'footer';


/** HEADER / Banner **/

#header-home {
    background-image: url(https://res.cloudinary.com/tesseract/image/upload/v1536104478/jussara/home_header_bg.png);
    background-size: cover;
    height: 65vh;
    max-width:100vw;

    @include breakpoint(lg) {
        height: 100vh;
    }

    .container {
        padding: 0 5rem;
    }

    .container-texto {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        font-family: 'Street Corner', sans-serif;
        margin-top:-1rem;
        color: $branco;
        text-align:center;

        @include breakpoint(lg) {
            margin-top:8rem;
            text-align: right;
            float:right;
        }
        @include breakpoint(xlg) {
            margin-top:18rem;
            text-align: right;
            float:right;
        }

        h2 {
            text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
            font-size: 1.5rem;
            @include breakpoint(lg) {
                font-size: 2.1rem;
            }
            @include breakpoint(xlg) {
                font-size: 3.5rem;
            }
        }

        h4 {
            text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
            font-size: 0.9rem;
            @include breakpoint(lg) {
                font-size: 1.5rem; }
            @include breakpoint(xlg) {
                font-size: 2.5rem;
            }
        }

        p {
            font-family: 'Muli', sans-serif;
        }
    }

}

#apresentacao, #atuacao, #contato {
    @include breakpoint(lg) {
        padding: 0rem 5rem 3rem 5rem;
    }
    font-family: 'Street Corner', sans-serif;

    .detalhe-top {
        color:$cinza-claro;
    }

    h2 {
        color: $preto;
    }
    span, p, li {
        color:$cinza;
        text-align: justify;
    }

}

#apresentacao {

    p, li {
        letter-spacing:0.5px;
        font-family: 'Muli', sans-serif;
        font-weight:600;
    }

    li {
        &:last-child {
            list-style:none;
        }
    }



    a.link-lattes {
        font-weight:bold;
        color: #646464;
        border-bottom: 2px solid $cor-borda-link;

        &:hover {
            text-decoration:none;
            border-bottom: 2px solid #646464;
        }
    }

    div.container-foto {

        text-align:center;

        p.subtitulo {
            text-align:center!important;
        }

        @include breakpoint(lg) {
            text-align:inherit;
            p.subtitulo {
                text-align:inherit!important;
            }
        }

    }

    img.foto-jussara {
        width: 50%;
        margin:auto;

        @include breakpoint(lg) {
            width: 100%;
        }

    }
}



#atuacao {
    background-color: $bg-atuacao;
    min-height: 120vh;

    ul.nav {
        width:85%;
        border-bottom: none;

        li.nav-item {
            width: 50%;

            @include breakpoint(lg) {
                width: 24%;
            }

            text-align:center;
            font-family: 'Street Corner', sans-serif;

            a {
                height: 65px;
                @include breakpoint(lg) {
                    height: inherit;
                }
                margin: 5px;
                padding: 0.75rem;
                font-size: 0.8rem;
                border-radius: 0rem;
                color: $cinza;
                border-bottom: 2px solid #cecece;
                background-color: #e7e7e7;

                &:hover {
                    color: $cor-roxo-atuacao;
                    background-color:#eee7f1;
                    border-bottom: 2px solid #d2c4ed;
                }

                &.active {
                    color: $cor-roxo-atuacao;
                    border-bottom: 2px solid #3f00e1;
                    background-color: #e1d3f2;
                }
            }
        }
    }

    .tab-content {
        width:85%;

        .container-img-landscape {
            .col-12 {
                padding: 0 10px;
            }
        }

        .container-img-portrait {
            img {
                width:100%;
            }

            .col-6 {
                padding: 0 10px;
                &:last-child {
                    text-align:right;
                }
            }
        }

        p.citacao {
            font-size: 1.45rem;
            line-height: 1.7rem;
        }

        a {
            font-weight:bold;
            color: #646464;
            border-bottom: 2px solid $cor-borda-link;

            &:hover {
                text-decoration:none;
                border-bottom: 2px solid #646464;
            }
        }


    }

}

#contato {
    border-top: 20px solid #e2e2f1;
    min-height: 50vh;

    .form-container {
        @include breakpoint(lg) {
            width: 50%;
        }
    }


    p {
        text-align:center;
    }

    label {
        position: absolute;
        font-size: 12px;
        margin-top: -10px;
        margin-left: 20px;
        padding-left: 2px;
        background-color: white;
        min-width: 70px;
        padding-right: 10px;
    }

    .form-control {
        padding: 0.475rem .75rem;
        border: 2px solid #ced4da;
    }

    .btn.btn-custom {
        padding: 0.75rem 2.5rem;
        font-size: 0.8rem;
        border-radius: 0rem;
        color: $cor-roxo-atuacao;
        background-color:#eee7f1;

        &:hover {
            background-color: #e1d3f2;
        }

    }
}

