@import 'geral';

@import 'menu-principal';

@import 'footer';

$cor-cinza-bg:#f2f2f4;

/** HEADER / Banner **/

#header-perinatal {
    background-image: url(https://res.cloudinary.com/tesseract/image/upload/v1535248072/jussara/perinatal_header_bg.png);
    background-size: cover;
    height:65vh;
    max-width:100vw;
    background-position-x: 80%;

    .container {
        padding: 0 5rem;
    }

    .container-texto {
        font-family: 'Street Corner', sans-serif;
        text-align: left;
        margin-top:5rem;
        color: $branco;

        h2 {
            font-size: 2.5rem;
            @include breakpoint(lg) {
                font-size: 3.5rem;
            }
        }
    }

}

#contexto {
    font-family: 'Muli', sans-serif;
    text-align:center;
    padding-bottom: 2rem;
    @include breakpoint(md) {
        text-align:inherit;
    }
    
    @include breakpoint(lg) {
        padding: 0rem 5rem 3rem 5rem;
    }

    .detalhe-top {
        color:$cinza-claro;
    }

    h2, h3 {
        font-family: 'Street Corner', sans-serif;
        color: $preto;
    }
    span, p, li {
        color:$cinza;
        text-align: justify;
    }
}

#momentos {
    background-color: $cor-cinza-bg;
    font-family: 'Muli', sans-serif;
    padding-bottom: 1rem;
    
    .container {
        @include breakpoint(lg) {
            padding: 0rem 5rem 3rem 5rem;
        }
    }

    .detalhe-top {
        color:$cinza-claro;
    }

    h2, h3 {
        font-family: 'Street Corner', sans-serif;
        color: $preto;
    }

    span, p, li {
        color:$cinza;
        text-align: justify;
    }

    li {
        line-height: 2.5rem;
        font-size:1.1rem;
    }

    .rodape-abnt {
        font-size: 0.9rem;
        a {
            color: inherit;
        }
    }

}

#como-funciona {
    font-family: 'Muli', sans-serif;
    padding-bottom: 2rem;
    @include breakpoint(lg) {
        padding: 0rem 5rem 3rem 5rem;
    }

    .detalhe-top {
        color:$cinza-claro;
    }

    h2, h3 {
        font-family: 'Street Corner', sans-serif;
        color: $preto;
    }
    span, p, li {
        color:$cinza;
        text-align: justify;
    }
}

